

.sidebar {
	--sidebar-spacing: 80px;
	position: fixed;
	left: 0;
	top: 0;
	width: 220px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 200;
	background: none;
}

.sidebar-center-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.sidebar-hamburger {
	margin: 0 0 0 var(--sidebar-spacing);
	cursor: pointer;
	width: 32px;
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sidebar-hamburger .bar {
	width: 46px;
	height: 3px;
	background: #fff;
	border-radius: 1px;
}


.sidebar-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 32px;
}

.sidebar-vertical-line {
	margin-left: calc(var(--sidebar-spacing) + 20px);
	margin-right: 32px;
	width: 1px;
	height: 340px;
	background: rgba(255,255,255,0.3);
	display: block;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 340px;
	gap: 72px;
	margin-top: 0;
	margin-left: 0;
	min-width: 100px;
}


.sidebar-menu-item {
	color: #fff;
	font-family: 'Jura-Regular', sans-serif;
	font-size: 20px;
	letter-spacing: 0.5px;
	position: relative;
	transition: color 0.2s;
	text-align: left;
	cursor: pointer;
}
.sidebar-menu-item:hover {
	color: #b6aaff;
}

.sidebar-news {
	display: flex;
	align-items: center;
	gap: 8px;
}
